<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jsjzx.wlyw.rbactest.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="jsjzx.wlyw.rbactest.entities.User">
        <id column="userId" property="userId" />
        <result column="userName" property="userName" />
        <result column="userPassword" property="userPassword" />
        <result column="userStatus" property="userStatus" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        userId, userName, userPassword, userStatus
    </sql>

</mapper>
